---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.freeagent.com/v2/bank_transaction_explanations?bank_account=40462
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - ''
      x-total-count:
      - '3'
      etag:
      - W/"b275e1a1af5380aa6c7f8b7e42c65f6d"
      x-rev:
      - c9ec2b356ae555df9b44ab68e2b5f267b56d2389
      x-host:
      - ip-10-133-87-222
    body:
      encoding: UTF-8
      string: '{"bank_transaction_explanations":[{"bank_account":"https://api.sandbox.freeagent.com/v2/bank_accounts/40462","category":"https://api.sandbox.freeagent.com/v2/categories/001","dated_on":"2025-10-01","description":"Incoming
        from Client 1","transaction_description":"///£500.00","gross_value":"500.0","foreign_currency_value":"0.0","transfer_value":"-500.0","type":"Sales","is_money_in":true,"is_money_out":false,"is_money_paid_to_user":false,"url":"https://api.sandbox.freeagent.com/v2/bank_transaction_explanations/1775286","bank_transaction":"https://api.sandbox.freeagent.com/v2/bank_transactions/2615512","updated_at":"2025-10-03T21:17:22.000Z","detail":"Sales
        ","is_deletable":true,"is_locked":false,"marked_for_review":false,"has_pending_operation":false},{"bank_account":"https://api.sandbox.freeagent.com/v2/bank_accounts/40462","category":"https://api.sandbox.freeagent.com/v2/categories/001","dated_on":"2025-10-01","description":"Hosting
        for Client 2","transaction_description":"///£25.00","gross_value":"25.0","foreign_currency_value":"0.0","transfer_value":"-25.0","type":"Sales","is_money_in":true,"is_money_out":false,"is_money_paid_to_user":false,"url":"https://api.sandbox.freeagent.com/v2/bank_transaction_explanations/1775287","bank_transaction":"https://api.sandbox.freeagent.com/v2/bank_transactions/2615513","updated_at":"2025-10-03T21:17:36.000Z","detail":"Sales
        ","is_deletable":true,"is_locked":false,"marked_for_review":false,"has_pending_operation":false},{"bank_account":"https://api.sandbox.freeagent.com/v2/bank_accounts/40462","category":"https://api.sandbox.freeagent.com/v2/categories/268","dated_on":"2025-10-03","description":"Web
        Hosting","transaction_description":"///£50.00","gross_value":"-50.0","foreign_currency_value":"0.0","transfer_value":"50.0","type":"Payment","is_money_in":false,"is_money_out":true,"is_money_paid_to_user":false,"url":"https://api.sandbox.freeagent.com/v2/bank_transaction_explanations/1775288","bank_transaction":"https://api.sandbox.freeagent.com/v2/bank_transactions/2615514","updated_at":"2025-10-03T21:17:57.000Z","detail":"Web
        Hosting. Inc £8.33 VAT ","is_deletable":true,"is_locked":false,"marked_for_review":false,"has_pending_operation":false,"sales_tax_status":"TAXABLE","sales_tax_rate":"20.0","sales_tax_value":"-8.33"}]}'
  recorded_at: Fri, 03 Oct 2025 21:23:28 GMT
recorded_with: VCR 6.3.1
