---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.freeagent.com/v2/company
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2340a362023f0b5785589a0fcca55df8"
      last-modified:
      - Fri, 03 Oct 2025 15:57:54 GMT
      x-rev:
      - c9ec2b356ae555df9b44ab68e2b5f267b56d2389
      x-host:
      - ip-10-133-87-222
    body:
      encoding: UTF-8
      string: '{"company":{"url":"https://api.sandbox.freeagent.com/v2/company","id":27719,"name":"FreeAgent
        RB","subdomain":"freeagentrb","type":"UkSoleTrader","company_start_date":"2025-04-06","currency":"GBP","mileage_units":"miles","short_date_format":"dd
        mmm yy","freeagent_start_date":"2025-04-06","first_accounting_year_end":"2026-04-05","annual_accounting_periods":[{"starts_on":"2025-04-06","ends_on":"2026-04-05"}],"address1":"10
        Downing Street","town":"London","postcode":"SW1A 2AA","country":"United Kingdom","locale":"en","business_category":"Software
        Development","cis_enabled":false,"cis_contractor":false,"cis_subcontractor":false,"locked_attributes":["currency"],"created_at":"2025-10-03T15:57:01.000Z","updated_at":"2025-10-03T15:57:54.000Z","sales_tax_registration_status":"Not
        Registered","ec_vat_reporting_enabled":false,"sales_tax_name":"VAT","sales_tax_effective_date":"2025-04-06","sales_tax_rates":["20.0","5.0","0.0"],"supports_auto_sales_tax_on_purchases":true,"initially_on_frs":false,"sales_tax_is_value_added":true,"initial_vat_basis":"Invoice"}}'
  recorded_at: Fri, 03 Oct 2025 21:01:28 GMT
recorded_with: VCR 6.3.1
