---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.freeagent.com/v2/bank_transactions/2615513
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d6f4b221773a35149b5e869d61b19288"
      last-modified:
      - Fri, 03 Oct 2025 21:17:36 GMT
      x-rev:
      - c9ec2b356ae555df9b44ab68e2b5f267b56d2389
      x-host:
      - ip-10-133-89-180
    body:
      encoding: UTF-8
      string: '{"bank_transaction":{"url":"https://api.sandbox.freeagent.com/v2/bank_transactions/2615513","amount":"25.0","bank_account":"https://api.sandbox.freeagent.com/v2/bank_accounts/40462","dated_on":"2025-10-01","description":"///","full_description":"///£25.00","unexplained_amount":"0.0","is_manual":true,"created_at":"2025-10-03T21:17:36.000Z","updated_at":"2025-10-03T21:17:36.000Z","matching_transactions_count":0,"bank_transaction_explanations":[{"bank_account":"https://api.sandbox.freeagent.com/v2/bank_accounts/40462","category":"https://api.sandbox.freeagent.com/v2/categories/001","dated_on":"2025-10-01","description":"Hosting
        for Client 2","transaction_description":"///£25.00","gross_value":"25.0","foreign_currency_value":"0.0","transfer_value":"-25.0","type":"Sales","is_money_in":true,"is_money_out":false,"is_money_paid_to_user":false,"url":"https://api.sandbox.freeagent.com/v2/bank_transaction_explanations/1775287","bank_transaction":"https://api.sandbox.freeagent.com/v2/bank_transactions/2615513","updated_at":"2025-10-03T21:17:36.000Z","detail":"Sales
        ","is_deletable":true,"is_locked":false,"marked_for_review":false,"has_pending_operation":false}]}}'
  recorded_at: Fri, 03 Oct 2025 21:20:28 GMT
recorded_with: VCR 6.3.1
