---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.freeagent.com/v2/contacts
    body:
      encoding: UTF-8
      string: '{"first_name":"Dwight","last_name":"Schrute"}'
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://api.sandbox.freeagent.com/v2/contacts/209310
      etag:
      - W/"7e346c229a2fdf5059642fc33ace0fe9"
      x-rev:
      - c9ec2b356ae555df9b44ab68e2b5f267b56d2389
      x-host:
      - ip-10-133-89-180
    body:
      encoding: UTF-8
      string: '{"contact":{"url":"https://api.sandbox.freeagent.com/v2/contacts/209310","active_projects_count":0,"first_name":"Dwight","last_name":"Schrute","created_at":"2025-10-03T21:36:19.000Z","updated_at":"2025-10-03T21:36:19.000Z","contact_name_on_invoices":true,"country":"United
        Kingdom","charge_sales_tax":"Auto","locale":"en","account_balance":"0.0","status":"Active","uses_contact_invoice_sequence":false,"emails_invoices_automatically":false,"emails_payment_reminders":false,"emails_thank_you_notes":false,"uses_contact_level_email_settings":false}}'
  recorded_at: Fri, 03 Oct 2025 21:36:19 GMT
recorded_with: VCR 6.3.1
