---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.freeagent.com/v2/expenses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"expense":{"url":"https://api.sandbox.freeagent.com/v2/expenses/3","user":"https://api.sandbox.freeagent.com/v2/users/1","category":"https://api.sandbox.freeagent.com/v2/categories/285","dated_on":"2025-10-03","currency":"GBP","gross_value":"-12.0","native_gross_value":"-12.0","sales_tax_rate":"0.0","description":"Train
        fare","ec_status":"UK/Non-EC","updated_at":"2025-10-03T15:58:17.000Z","created_at":"2025-10-03T15:58:17.000Z"}}'
  recorded_at: Fri, 03 Oct 2025 21:10:48 GMT
recorded_with: VCR 6.3.1
