---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.freeagent.com/v2/account_managers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"account_managers":[{"url":"https://api.sandbox.freeagent.com/v2/account_managers/123","name":"Bobson
        Dugnutt","email":"bobson@some-accounting-firm.com"},{"url":"https://api.sandbox.freeagent.com/v2/account_managers/456","name":"Sleve
        McDichael","email":"sleve@some-accounting-firm.com"}]}'
  recorded_at: Fri, 03 Oct 2025 21:10:48 GMT
recorded_with: VCR 6.3.1
