---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.freeagent.com/v2/bank_transaction_explanations
    body:
      encoding: UTF-8
      string: '{"bank_account":40462,"bank_transaction":2615522,"type":"Payment","category":268,"dated_on":"2025-10-02","gross_value":6.07,"description":"AWS
        Hosting"}'
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - "/v2/bank_transaction_explanations/1775294"
      etag:
      - W/"21e5900cc6e66e0a49d5bd88a8cd5b75"
      x-rev:
      - c9ec2b356ae555df9b44ab68e2b5f267b56d2389
      x-host:
      - ip-10-133-87-222
    body:
      encoding: UTF-8
      string: '{"bank_transaction_explanation":{"bank_account":"https://api.sandbox.freeagent.com/v2/bank_accounts/40462","category":"https://api.sandbox.freeagent.com/v2/categories/268","dated_on":"2025-10-02","description":"AWS
        Hosting","transaction_description":"Amazon Web Services//OTHER/£6.07","gross_value":"6.07","foreign_currency_value":"0.0","transfer_value":"-6.07","type":"Refund","is_money_in":true,"is_money_out":false,"is_money_paid_to_user":false,"url":"https://api.sandbox.freeagent.com/v2/bank_transaction_explanations/1775294","bank_transaction":"https://api.sandbox.freeagent.com/v2/bank_transactions/2615522","updated_at":"2025-10-03T21:32:42.000Z","detail":"Web
        Hosting. Inc £1.01 VAT ","is_deletable":true,"is_locked":false,"marked_for_review":false,"has_pending_operation":false,"sales_tax_status":"TAXABLE","sales_tax_rate":"20.0","sales_tax_value":"1.01"}}'
  recorded_at: Fri, 03 Oct 2025 21:32:42 GMT
recorded_with: VCR 6.3.1
