---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.freeagent.com/v2/clients?minimal_data=true&per_page=500
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"clients":[{"id":123,"name":"Test Company","subdomain":"testcompany"},{"id":456,"name":"Another
        Company","subdomain":"anothercompany"}]}'
  recorded_at: Fri, 03 Oct 2025 21:10:48 GMT
recorded_with: VCR 6.3.1
