---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.freeagent.com/v2/clients
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      X-Total-Count:
      - '1'
    body:
      encoding: UTF-8
      string: '{"clients":[{"account_manager":"https://api.sandbox.freeagent.com/v2/account_managers/123","url":"https://api.sandbox.freeagent.com/v2/company","name":"Test
        Company","subdomain":"testcompany","type":"UkLimitedCompany","status":"Active
        Licence","contact_email":"maemail@email.com","town":"Edinburgh","country":"United
        Kingdom","company_start_date":"2008-01-01","sales_tax_registration_status":"Registered","created_at":"2015-01-12T11:45:32.000+00:00","updated_at":"2018-03-06T16:16:33.000+00:00","account_owner":{"first_name":"Jane","last_name":"Smith","last_logged_in_at":"2023-09-21T10:32:02.000+01:00"}}]}'
  recorded_at: Fri, 03 Oct 2025 21:10:48 GMT
recorded_with: VCR 6.3.1
