---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.freeagent.com/v2/users/32912
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a2c8af1b83e41626dc5de4987cc84ac1"
      last-modified:
      - Fri, 03 Oct 2025 20:44:10 GMT
      x-rev:
      - c9ec2b356ae555df9b44ab68e2b5f267b56d2389
      x-host:
      - ip-10-133-87-222
    body:
      encoding: UTF-8
      string: '{"user":{"url":"https://api.sandbox.freeagent.com/v2/users/32912","first_name":"Dean","last_name":"Perry","hidden":false,"email":"dean+gem@voupe.dev","role":"Owner","permission_level":8,"opening_mileage":"0.0","updated_at":"2025-10-03T20:44:10.000Z","created_at":"2025-10-03T15:57:01.000Z"}}'
  recorded_at: Fri, 03 Oct 2025 21:08:05 GMT
recorded_with: VCR 6.3.1
